body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

h1 {
    background-color: cadetblue;
}

/* Stopwatch Container Box */
#container {
    width: 50%;
    height: 40vh;
    margin: 25vh auto;
    border: 1px solid black;
    background-color: lightgray;
}

/* Screen */
#screen {
    width: 98%;
    height: 70%;
    border: 1px solid black;
    margin: 7px auto;
    background-color: white;
}

/* Timer */
#timer {
    text-align: center;
    position: relative;
    top: 35%;
    left: 40%;
    font-size: 2.5rem;
    font-weight: bolder;
}

/* Controller */
#controller {
    margin-top: 4%;
}

/* changing tens part color */
#tens {
    color: blue;
}